.media {
    display: flex;
    flex-direction: column;
   ;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    font-family: "Montserrat", sans-serif;
    color:#010618;
  }
  
  .media:hover {
    background-color: rgb(74, 129, 150);
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgb(191, 191, 191);
  }
  
  @media (max-width: 550px) {
    .media {
      width: 45%;
      display:flex;

    }
  }
  
  .poster {
    border-radius: 10px;
  }
  
  .title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
  }
  
  .subTitle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    padding: 0 2px;
    padding-bottom: 3px;
  }
  