.header {
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #046576f9;
    font-family: 'Bangers', cursive;
    font-size: 4vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px rgb(13, 13, 13);
    color: rgb(14, 14, 14);
    z-index: 100;
  }
  
  @media (max-width: 1000px) {
    .header {
      padding-top: 15px;
      font-size: 6.4vw;
    }
  }